<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/luthimark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luthimark_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuthiMark">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LuthiMark"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="application/x-markdown" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.markdown" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.jsonl" />
                <data android:pathPattern=".*\\.ndjson" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:pathPattern=".*\\.toml" />
                <data android:pathPattern=".*\\.csv" />
                <data android:pathPattern=".*\\.tsv" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.sh" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.ini" />
                <data android:pathPattern=".*\\.conf" />
                <data android:pathPattern=".*\\.cfg" />
            </intent-filter>
        </activity>
    </application>

</manifest>